* {
  margin: 0;
  padding: 0;
}

body {
  background: grey;
  font-family: Arial, sans-serif;
}

.page-header {
  font-size: 40px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 30px;
  margin-bottom: 50px;
}